@charset "UTF-8";
/* Reset de márgenes y rellenos */
* {
  margin: 0;
  padding: 0;
}

/* Estilo del cuerpo de la página */
body {
  background-color: grey;
}

/* Estilo del encabezado */
/* variables de color */
/* variables de fuente */
header {
  background-color: #333;
  padding: 20px 0;
}
header .bg-light {
  background-color: #333 !important;
  color: #fff;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}
header nav ul li a:hover {
  color: #04f5bf;
}
header nav ul li a.active {
  color: #04f5bf;
}

/* Estilo del contenedor de cuadrícula */
.grid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilo del logo */
.Logo {
  width: 150px;
  height: auto;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,%20255,%20255,%201)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
  border-color: #fff;
}

/* Estilo de los enlaces en general */
a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* variables de color */
/* variables de fuente */
/* Estilo del contenedor de servicios .container-Servicio */
.container-Servicio {
  display: flex;
}

/* Estilo de cada columna individual .columna dentro de .container-Servicio */
.columna {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

/* Estilo del título de servicios dentro del contenedor .container-Servicio */
.container-Servicio .titulo_Servicios {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-right: 5px;
}
.container-Servicio ul {
  list-style-type: none;
  padding: 0;
}
.container-Servicio li {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 5px 0;
}
.container-Servicio li:last-child {
  border-bottom: none;
}

/* Estilo de la lista de servicios */
/* Estilo de cada elemento de la lista de servicios */
/* Estilo del último elemento de la lista de servicios */
/* Estilo del botón genérico */
/* variables de color */
/* variables de fuente */
button {
  background-color: #fff;
  border: 1px solid;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #333;
}

/* Estilo del botón al pasar el cursor sobre él */
/* Estilo del botón al enfocarse */
/* Estilo del contenedor principal con rejilla */
.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
}

/* Estilo del contenedor de columnas .columnas_Nosotros */
.columnas_Nosotros {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Estilo de cada columna individual .columna_nosotros */
.columna_nosotros {
  flex: 1;
  padding: 20px;
  border: none;
}

/* Estilo del contenedor .nosotros-container */
.nosotros-container {
  text-align: center;
}

/* Estilo de la descripción .descripcion_Nosotros */
.descripcion_Nosotros {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  margin-top: 20px;
  color: #fff;
  padding-top: 5%;
  font-weight: bold;
  /* Agrega negrita al texto */
}

/* Estilo del formulario */
/* variables de color */
/* variables de fuente */
form {
  margin-top: 20px;
}

/* Estilo de las etiquetas del formulario */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Estilo del área de texto y los campos de texto del formulario */
textarea,
input[type=text] {
  width: 100%;
  padding: 10px;
  border: 2px solid grey;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Estilo de los botones */
.botones {
  color: grey;
  background-color: #04f5bf;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Ajusta la altura según tus necesidades */
  background-image: url("../Fotos/Fondo_inicio.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

/* Estilo del botón animado */
.animated-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #04f5bf;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  text-decoration: none;
}
.animated-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

/* Estilo de la sección de contacto */
.contact-section {
  background-color: #f9f9f9;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5);
}
.contact-section h1 {
  color: #333;
}
.contact-section h2 {
  color: #666;
}

/* Estilo del título de la sección de contacto */
/* Estilo del subtítulo de la sección de contacto */
/* Estilo del formulario de contacto */
.contact-form {
  margin-top: 20px;
}
.contact-form label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  resize: none;
}
.contact-form input {
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  resize: none;
}

/* Estilo del contenedor .contenedor */
.contenedor {
  display: flex;
  justify-content: space-between;
}

/* Estilo de cada columna individual .columna */
.columna {
  display: flex;
  flex-direction: column;
}

/* Estilo de los rieles .reel */
.reel {
  margin: 10px;
}

/* Estilos base para dispositivos de tamaño normal */
.contenedor-flex {
  display: flex;
  justify-content: space-around;
}

.imagen img {
  width: 480px;
  height: 280px;
}

/* Estilo del pie de página */
/* variables de color */
/* variables de fuente */
footer {
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-top: 1px solid floralwhite;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Estilo de las redes sociales */
.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.redes-sociales a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s, filter 0.3s;
}
.redes-sociales a:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}
.redes-sociales h3 {
  margin-top: 10px;
  text-align: center;
  color: #333;
  font-size: 14px;
}

/* Estilo de los enlaces de redes sociales */
/* Estilo de los íconos de redes sociales al pasar el cursor sobre ellos */
/* Estilo del título debajo de las redes sociales */
/* Media query para dispositivos con un ancho máximo de 600px */
@media screen and (max-width: 600px) {
  .contenedor-flex {
    flex-direction: column;
    align-items: center;
  }
  header nav ul,
  .container-Servicio {
    display: block;
  }
  .imagen {
    padding-bottom: 20px;
  }
  .columnas_Nosotros {
    flex-direction: column;
  }
  .columna_nosotros {
    width: 100%;
    margin-bottom: 20px;
  }
  .columna_nosotros h3 {
    font-size: 16px;
  }
  .descripcion_Nosotros {
    font-size: 14px;
  }
  .Titulo_Nosotros h1 {
    font-size: 20px;
  }
  .Titulo_Nosotros h2 {
    font-size: 18px;
  }
  .columna_nosotros .iconify {
    font-size: 20px;
  }
  .button-container {
    height: 30vh;
  }
  .slider {
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
  .slider figure img {
    max-width: 150px;
  }
  .imagen img {
    width: 100%;
    height: auto;
  }
}
/* Media query para dispositivos con un ancho de 601px a 1024px */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .contenedor-flex {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
  }
  .container-Servicio {
    display: flex;
    flex-direction: row;
  }
  .imagen {
    padding-bottom: 10px;
  }
  .columnas_Nosotros {
    flex-direction: row;
  }
  .columna_nosotros {
    width: 48%;
    margin-bottom: 10px;
  }
  .columna_nosotros h3 {
    font-size: 18px;
  }
  .descripcion_Nosotros {
    font-size: 16px;
  }
  .Titulo_Nosotros h1 {
    font-size: 24px;
  }
  .Titulo_Nosotros h2 {
    font-size: 22px;
  }
  .columna_nosotros .iconify {
    font-size: 24px;
  }
  .button-container {
    height: 40vh;
  }
  .slider {
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
  }
  .slider figure img {
    max-width: 200px;
  }
}
#faq {
  margin-top: 50px;
  padding: 10px;
  border: 2px solid #333;
}

.faq-item {
  margin-bottom: 20px;
}
.faq-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.faq-item p {
  font-size: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.answer {
  display: none;
}

/* Estilo del contenido principal */
/* variables de color */
/* variables de fuente */
main {
  text-align: center;
}

/* Estilo de los encabezados */
h1,
h2 {
  text-decoration: underline;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Estilo del encabezado h1 */
h1 {
  color: #04f5bf;
}

/* Estilo del encabezado h2 */
h2 {
  color: #fff;
}

#clientes {
  text-align: center;
}

.slider {
  background-color: black;
  display: flex;
  justify-content: center;
  /* Centrar horizontalmente */
  overflow: hidden;
  margin: 0 auto;
  max-width: 100%;
}
.slider figure {
  margin: 0 10px;
  /* Espacio entre los logos */
}
.slider img {
  max-width: 300px;
  /* Ancho máximo de los logos */
  height: auto;
  vertical-align: middle;
}

/* variables de color */
/* variables de fuente */
.botones {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top:  10px;
}

/* variables de color */
/* variables de fuente */

/*# sourceMappingURL=estilo.css.map */
