/* variables de color */

$primary-color:#04f5bf;
$secondary-color:#fff;
$tertiary-color: #333;


/* variables de fuente */

$primary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$secondary-font: Arial, sans-serif;

